.lSize {
    font-weight: 600;
    font-size: 1.5rem; /* Large font size */
}

.label {
    font: normal normal bold 15px 'Almarai', sans-serif; /* Use Almarai font and bold style */
}

.radLabel {
    font: normal normal 15px 'Almarai', sans-serif; /* Use Almarai font */
}

.medSizeFont {
    font-size: 1.25rem; /* Medium font size */
}

.sBoldSize {
    font-size: 0.75rem; /* Smaller font size with bold weight */
    font-weight: 600;
}

.sSizeFont {
    font-size: 0.9375rem; /* Small font size */
}

.whiteColor {
    color: rgb(3, 3, 3);
}

.lightblueColor {
    color: #3896DA;
}

.darkerBlueColor {
    color: #005EA4;
}

.ablueColor {
    color: #3896DA;
}

.bgGrey {
    background-color: #ffffff;
}

.veryDarkBlue {
    color: #0000FF;
}

.headerTable {
    background-color: #548DD4;
}
