<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Request</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script> 

</head>
<body>
    <section style="margin-left: 20%; margin-top: 5%;" id="contentToPrint"> 
    <form>
        <h1 class="veryDarkBlue" id="subject" style="margin-left: 30%;">Change Request</h1> 
        <section class="rowFlex" style="gap: 10px;">
        <section id="icons" class="imgSecStyle">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
            <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
            <img src="../icons/New folder/print-solid.svg" class="imgWidth">
            <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
            <img src="../icons/New folder/download-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth" id="pdf" style="cursor: pointer;">
        </section>
        <table id="table" class="tableStyle tableWidth">
            <tr>
                <th class="cellStyle">Change ID</th>
                <td><input type="text" name="changeid" id="changeid" class="tableInput"></td>
            </tr>
            <tr>
                <th class="cellStyle">Date</th>
                <td><input type="date" name="issueDate" id="issueDate" class="tableInput"></td>
            </tr>    
            <tr>
                <th class="cellStyle">Location</th>
                <td><input type="text" name="revision" id="revision" class="tableInput"></td>
            </tr>    
            <tr>    
                <th class="cellStyle">Change description</th>
                <td><textarea name="description" id="changeDesc" cols="20" rows="5" class="tableInput"></textarea>
                    <input type="file" id="pPhUpload" style="display: none;" />
                    <button id="uploadButtonPh" style="width: 21rem; background-color: white; color: #005EA4; border: 1px solid black; padding: 2%;">Insert a picture</button>
                </td>
            </tr>
        </table>
    </section>
        <section id="btns" style="float: right; margin-top: 7%; margin-right: 30%;">
        <input type="button" value="Cancle" class="cancleBtn" onclick="window.location.href = 'main.html'">
        <input type="button" value="Next" id="nextBtn" class="addBtn" onclick="window.location.href = 'listOfEmp.html'">
        </section>
    </form>
    </section>
</section>
<footer>
    <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
</footer>
<!-- <script src="../js/localstorage.js"></script>  -->
<!-- <script src="../js/uploadPhoto.js"></script> -->


<script src="../js/exportPdf.js"></script>

</body>
</html>