<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Criteiria</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    
    <section id="tableHeader" style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 3%;">
        <img src="../img/logo.jpg" width="6%" height="6%" style="border: 1px solid black; margin-top: 13px;" alt="">
<section>
        <p class="headTP sSizeFont">Initial Safety Impact Assessment</p>
    <table class="tableStyle">    
        <tr>
        <td class="cellStyle" style="width: 13%;">Form NO:</td>
        <td style="padding: 0;"><input type="text" name="formNo" id="formNo" class="tableInput" style="font-size: 14px; width:max-content;" value="SANS-SQE-PMM02-FO021"></td>
        <td class="cellStyle" style="width: 13%;">Revision:</td>
        <td style="padding: 0;"><input type="text" name="revision" id="revision" style="width: 14%; font-size: 14px;" class="tableInput" value="B"></td>
        <td class="cellStyle">Issue Date:</td>
        <td style="padding: 0;"><input type="date" name="issueDate" id="issueDate" class="tableInput" style="font-size: 14px; width:max-content;"></td>
        </tr>
    </table>
</section>
    </section>

    <section style="margin: 5% auto auto auto; width: 80%;" >
        <table>
            <tr class="headerTable whiteColor">        
                <th ></th>
                <th style="padding: 1%; text-align: start;" class="medSizeFont">Change Criteria</th>
             </tr>
            <tr>
                <td style="width: 10%; text-align: center; font-size: 20px;">High</td>
                <td style="font-size: 20px; cursor: pointer;">
                    <ul>
                        <li>
                            what the service provide to an external customer is significantly modified i.e a change to concept
                        </li>
                        <li>
                            change affects services at multipale sites
                        </li>
                        <li>
                           novel funcuality is to be provided
                        </li>
                        <li>
                          new instrument flight producer concept introduction
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 10%; text-align: center; font-size: 20px;">Meduim</td>
                <td style="font-size: 20px; cursor: pointer;">
                    <ul>
                        <li id="medForm">
                           change does not implement new funcuality, but it changes the operator's Humen Machine Interface (HMI)
                        </li>
                        <li>
                            change affects a single service at a single sites
                        </li>
                        <li>
                           change is a high significate but has been implemented before at another site
                        </li>
                        <li>
                          change has the potintial to undermine the accurecy of the data provided
                        </li>
                        <li>
                            new cyber security control with significate change which require system re-design is implemented
                        </li>
                        <li>
                            change affect more than two work-related fatigue factors
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 10%; text-align: center; font-size: 20px;">Low</td>
                <td style="font-size: 20px; cursor: pointer;">
                    <ul>
                        <li>
                            <span id="lowForm">
                              It is an update to operational and technical procedures /document    
                            </span>
                        </li>
                        <li>
                            it is a hardware refresh
                        </li>
                        <li>
                           it is installation of operating system(Batteries, USP, etc) without direct affect on the main system
                        </li>
                        <li>
                          it is a software update without functional change
                        </li>
                        <li>
                            it is an update to exist cyber-security control or a new cyber-security control is implemented with no significate change
                        </li>
                        <li>
                            it is a routine change that have been performed many times or are planned to be performedmany times and procedures are in place to manage this type of change 
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <table>
            <tr class="headerTable">
               <th class="tablePadd"></th>
               <th class="tablePadd"></th>
            </tr>
            <tr>
                <td style="width: 10%; text-align: center; font-size: larger;">Level of assessment required?</td>
                <td style="font-size: larger;" id="result">
                    <p><i>High - project safety case</i></p>
                    <p><i>Meduim - safety risk assessment</i></p>
                    <p><i>Low - light safety risk assessment    - refere to part C</i></p>
                </td>
            </tr>
        </table>  
    </section>

    <section style="float: right; margin-top: 5%;">
        <button class="cancleBtn" onclick="window.location.href = 'impactAssessment.html'">Back</button>
        <!-- <button class="addBtn" onclick="window.location.href = 'lowForm.html'">Next</button> -->
    </section>

    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>

    <script src="../js/radioFunc.js"></script>
</body>
</html>