<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change summery</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script> 

</head>
<body>
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    

    <section id="tableHeader" style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 2%;">
        <img src="../img/logo.jpg" width="6%" height="5%" style="border: 1px solid black; margin-top: 13px;" alt="">
<section>
        <p class="headTP sSizeFont">Initial Safety Impact Assessment</p>
    <table class="tableStyle">    
        <tr>
            <td class="cellStyle" style="width: 13%;">Form NO:</td>
            <td style="padding: 0;"><input type="text" name="formNo" id="formNo" class="tableInput" style="font-size: 14px; width:max-content;" value="SANS-SQE-PMM02-FO021"></td>
            <td class="cellStyle" style="width: 13%;">Revision:</td>
            <td style="padding: 0;"><input type="text" name="revision" id="revision" style="width: 14%; font-size: 14px;" class="tableInput" value="B"></td>
            <td class="cellStyle">Issue Date:</td>
            <td style="padding: 0;"><input type="date" name="issueDate" id="issueDate" class="tableInput" style="font-size: 14px; width:max-content;"></td>
        </tr>
    </table>
</section>
    </section>

    <h1 class="veryDarkBlue" style="margin-left: 15%; margin-top: 8%; font-size: 25px;">Change Summery</h1> 
        <section class="rowFlex" style="gap: 10px;">
        <section id="icons" class="imgSecStyle">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
            <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
            <img src="../icons/New folder/print-solid.svg" class="imgWidth">
            <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
            <img src="../icons/New folder/download-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth" id="pdf" style="cursor: pointer;">
        </section>
        <section style="display: flex; flex-direction: column; width: 80%; margin: auto;">
            <table style="margin-bottom: 3%;" >
            <tr>
                <th class="tablePadd headerTable whiteColor">Change ID</th>
                <td><input type="text" class="tableInput"></td>
            </tr>
            </table>
            <table class="tableStyle">
            <tr>
                <th class="headerTable whiteColor tablePadd">Proposed change descrption:</th>
            </tr> 
            <tr>
                <td><textarea name="" id="" cols="100" rows="5" style="border: none;"></textarea></td>
            </tr>   
            <tr>
                <th class="tablePadd headerTable whiteColor">Scope of the change:</th>
            </tr>    
            <tr>    
                <td><textarea cols="50" rows="5" class="tableInput"></textarea></td>
            </tr>
            <tr>
                <th class="tablePadd headerTable whiteColor">Change plan:</th>
            </tr>
            <tr>
                <td></td>   
            </tr>
        </table>
        <table>
            <tr>
                <tr class="tablePadd headerTable whiteColor">
                    <th class="tablePadd">Activity</th>
                    <th>Performed by</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                <tr>
                    <td><textarea name="" id="" cols="40" rows="4" style="border: none;"></textarea></td>
                    <td><textarea name="" id="" cols="20" rows="4" style="border: none;"></textarea></td>
                    <td style="padding: 5px;"><textarea name="" id="" cols="5" rows="4" style="border: none;"></textarea></td>
                    <td style="padding: 5px;"><textarea name="" id="" cols="5" rows="4" style="border: none;"></textarea></td>
                </tr>
                <tr>
                    <td><textarea name="" id="" cols="40" rows="4" style="border: none;"></textarea></td>
                    <td><textarea name="" id="" cols="20" rows="4" style="border: none;"></textarea></td>
                    <td style="padding: 5px;"><textarea name="" id="" cols="5" rows="4" style="border: none;"></textarea></td>
                    <td style="padding: 5px;"><textarea name="" id="" cols="5" rows="4" style="border: none;"></textarea></td>
                </tr>
            </tr>
        </table>
    </section>
    </section>

        <section id="btns" style="float: right; margin-top: 7%;">
        <input type="button" value="Cancle" class="cancleBtn" onclick="window.location.href = 'main.html'">
        <input type="button" value="Next" id="nextBtn" class="addBtn" onclick="window.location.href = 'impactAssessment.html'">
        </section>

    </section>
</section>

<footer>
    <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
</footer>

<script src="../js/exportPdf.js"></script>
</body>
</html>