<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Request</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    
    <section style="margin-left: 25%;">
    <form>
    <section>
        <h1 class="veryDarkBlue" style="margin-left: 30%;">Change Request</h1>  
        <section class="rowFlex" style="gap: 10px;">

        <table class="tableStyle tableWidth">
            <tr>
                <th class="cellStyle">Change ID</th>
                <td><p type="number" name="changeid2" id="changeid2" class="tableInput"></p></td>
            </tr>
            <tr>
                <th class="cellStyle">Date</th>
                <td><p type="date" name="issueDate2" id="issueDate2" class="tableInput"></p></td>
            </tr>    
            <tr>
                <th class="cellStyle">Location</th>
                <td><p type="text" name="revision2" id="revision2" class="tableInput"></p></td>
            </tr>    
            <tr>    
                <th class="cellStyle">Change description</th>
                <td><p name="description2" id="changeDesc2" cols="20" rows="5" class="tableInput"></p></td>
            </tr>
        </table>
    </section>
        <section id="btns" style="float: right; margin-top: 7%; margin-right: 30%;">
        <input type="button" value="Back" class="cancleBtn" onclick="window.location.href = 'receivedChanges.html'">
        </section>
    </form>
    </section>
</section>
<footer>
    <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
</footer>
<script>
    document.getElementById('changeid2').innerHTML= sessionStorage['changeid']
    document.getElementById('issueDate2').innerHTML= sessionStorage['issueDate']
    document.getElementById('revision2').innerHTML= sessionStorage['revision']
    document.getElementById('changeDesc2').innerHTML= sessionStorage['changeDesc']
</script>

</body>
</html>