<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Meeting</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    

    <section style="width: 70%; margin: auto;">
        <h2 style="color: #3896DA; text-align: center;">Create Meeting</h2>
        <section style="display: flex; flex-direction: row; justify-content: space-between; color: #3896DA; font-size: 18px;">
          <p>List of Employees</p>
        <p onclick="selectAll()" style="cursor: pointer;">Sellect All</p>  

        </section>
        <section id="emp_header" style="display: flex; flex-direction: row; justify-content: space-around;">
            <span style="height: 5%; width: 5%; margin: 0 -10% 0 -1%;"></span>
            <span>Name</span>
            <span>Email</span>
            <span>ID number</span>
            <span>Invitation</span>
        </section>

        
        <section style="background-color: #EAEFF5; display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 2%;">
            <svg class="svgWidth" style="margin: 0 -6% 0 -21%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path style="fill: #12D680;" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
            </svg>
            <img src="../icons/New folder/circle-solid.svg" style=" border-radius: 50%; margin: 0 8%;" height="8%" width="8%">
            <span style="margin: 0 -4%;">Rayan Ahmed</span>
            <span style="margin: 0 5% 0 19%;">Khaled@gmail.com</span>
            <span style="margin: 0 6%;">8036111</span>
            <div><button class="addBtn" id="acceptBtn1">Accept</button>
                <button class="lighBgBtn" id="assignAnotherBtn1">Assign another</button></div>
                
            <span style="margin: 0 -65% 0 10%;"></span>
            
        </section>
        
            <section style="background-color: #EAEFF5; display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 2%;">
            <svg class="svgWidth" style="margin: 0 1% 0 -35%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path style="fill: #12D680;" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
            </svg>
            <img src="../icons/New folder/circle-solid.svg" style=" border-radius: 50%; margin: 0 1%;" height="8%" width="8%">
            <span style="margin: 0 3%;">Rayan Ahmed</span>
            <span style="margin: 0 5% 0 5%;">Khaled@gmail.com</span>
            <span style="margin: 0 6%;">8036111</span>
            <span style="margin: 0 -25% 0 10%;">
                <input type="checkbox" name="invite" id="invite" value="Rayan Ahmed">
            </span>
        </section>

        <section style="background-color: #EAEFF5; display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 2%;">
            <svg class="svgWidth" style="margin: 0 1% 0 -35%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path style="fill: #12D680;" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
            </svg>
            <img src="../icons/New folder/circle-solid.svg" style=" border-radius: 50%; margin: 0 1%;" height="8%" width="8%">
            <span style="margin: 0 3%;">Hadeel Ahmed</span>
            <span style="margin: 0 5% 0 5%;">Khaled@gmail.com</span>
            <span style="margin: 0 6%;">807649</span>
            <span style="margin: 0 -25% 0 10%;">
                <input type="checkbox" name="invite" id="invite" value="Hadeel Mohammed">
            </span>
        </section>

            <section style="background-color: #EAEFF5; display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 2%;">
            <svg class="svgWidth" style="margin: 0 1% 0 -35%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path style="fill: #707070;" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
            </svg>
            <img src="../icons/New folder/circle-solid.svg" style=" border-radius: 50%; margin: 0 1%;" height="8%" width="8%">
            <span style="margin: 0 3%;">Hadeel Omar</span>
            <span style="margin: 0 5% 0 5%;">Khaled@gmail.com</span>
            <span style="margin: 0 6%;">8039837</span>
            <span style="margin: 0 -25% 0 10%;">
                <input type="checkbox" name="invite" id="invite" value="Sara Omar">
            </span>
        </section>
        </section>

        <section style="margin: 20% 0 0 30%; float: right;">
        <button class="cancleBtn" onclick="window.location.href = 'createMeeting.html'">Back</button>
        <button class="addBtn">Create Meeting</button>
    </section>
    </section>
    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>
    <script src="../js/functions.js"></script>
</body>
</html>