<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/bgSignup.css">
</head>
<body>
    <section class="bg-photo colFlex center padd2">
    <h1 class="lightblueColor">Change your password</h1>
    <form class="formStyle">
        <input type="email" name="email" id="email" placeholder="enter your email" class="inputStyle" style="width: 20rem;">
        <input type="button" value="send code" class="signInBtn sBoldSize whiteColor" style="font-size: 15px;">
    </form>
    <a href="login.html"><p class="lightblueColor medSizeFont" style="margin-left: -100px;">sign in</p></a>
    </section>
</body>
</html>