<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GACA</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/toggle.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script> 

</head>
<body>
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    
    
    <section id="tableHeader" style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 2%;">
        <img src="../img/logo.jpg" width="6%" height="5%" style="border: 1px solid black; margin-top: 13px;" alt="">
<section>
        <p class="headTP sSizeFont">Initial Safety Impact Assessment</p>
    <table class="tableStyle">    
        <tr>
            <td class="cellStyle" style="width: 13%;">Form NO:</td>
            <td style="padding: 0;"><input type="text" name="formNo" id="formNo" class="tableInput" style="font-size: 14px; width:max-content;" value="SANS-SQE-PMM02-FO021"></td>
            <td class="cellStyle" style="width: 13%;">Revision:</td>
            <td style="padding: 0;"><input type="text" name="revision" id="revision" style="width: 14%; font-size: 14px;" class="tableInput" value="B"></td>
            <td class="cellStyle">Issue Date:</td>
            <td style="padding: 0;"><input type="date" name="issueDate" id="issueDate" class="tableInput" style="font-size: 14px; width:max-content;"></td>
        </tr>
    </table>
</section>
    </section>

    <section style="margin-left: 20%;">
    <h1 class="veryDarkBlue" style="font-weight: 700; font-size: 18px;">C.2 Notification to GACA</h1>
    <section class="rowFlex" style="gap: 10px;">

        <section id="icons" class="imgSecStyle" style="height: 50%;">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
            <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
            <img src="../icons/New folder/print-solid.svg" class="imgWidth">
            <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
            <img src="../icons/New folder/download-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth" id="pdf" style="cursor: pointer;">
        </section>

    <table class="tableStyle tableWidth2">
        <tr class="headerTable whiteColor">
            <th class="tablePadd" style="width: 50%;">Proposed Changes</th>
            <th class="tablePadd">Yes/No</th>
            <th class="tablePadd">Justification</th>
        </tr>
        <tr>
            <td>Does the change intrduce additional locations for for providing the air navigation services?</td>
            <td>
                <label class="switch">
                    <input class="switch-input" id="switch-input1" type="checkbox" />
                    <span class="switch-label" data-on="Yes" data-off="No"></span> 
                    <span class="switch-handle"></span> 
                   </label>
            </td>
            <td><textarea name="" id="gaca_1Just" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>    
        <tr>  
            <td>Does the change affect any designed SANS personnal as specified in the operations specifications?</td>
            <td>
                <label class="switch">
                    <input class="switch-input" id="switch-input2" type="checkbox" />
                    <span class="switch-label" data-on="Yes" data-off="No"></span> 
                    <span class="switch-handle"></span> 
                   </label>
            </td>
            <td><textarea name="" id="gaca_2Just" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>
        <tr>
            <td>Is the change assossiated with SANS operations specifications (requier update of the SANS operations)?</td>
            <td>
                <label class="switch">
                    <input class="switch-input" id="switch-input3" type="checkbox" />
                    <span class="switch-label" data-on="Yes" data-off="No"></span> 
                    <span class="switch-handle"></span> 
                   </label>
            </td>
            <td><textarea name="" id="gaca_3Just" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>    
        <tr>  
            <td>Does the change affect any facility, procedure, system, work scope or staff that are used for provision orf air navigation?</td>
            <td>
                <label class="switch">
                    <input class="switch-input" id="switch-input4" type="checkbox" />
                    <span class="switch-label" data-on="Yes" data-off="No"></span> 
                    <span class="switch-handle"></span> 
                   </label>
            </td>
            <td><textarea name="" id="gaca_4Just" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>  
    </table>
    </section>

    <section>
        <table class="tablePadd" style="margin-left: 3.3%;">
            <tr class="headerTable whiteColor" style="border-collapse: collapse;">
               <th class="tablePadd"></th>
               <th class="tablePadd"></th>
            </tr>
            <tr>
                <td style="width: 70%;">Based on the above, does the change require notification to GACA prior implementation?</td>
                <td class="tablePadd" id="gaca">No</td>
            </tr>
        </table>
    </section>
    <section style="margin: 3% auto auto 3%;">
        <input id="fileUploader" type="file" style="width: 10rem;" multiple="multiple" onchange="updateList()">
        <div id="divFiles"></div>
    </section>   
</section>
    <section id="btns" style="float: right; margin-top: 7%;">
    <input type="button" value="Back" class="cancleBtn" onclick="window.location.href = 'lowForm.html'">
    <input type="button" value="Send" id="nextBtn" class="addBtn" onclick="window.location.href ='sendEmForm.html'">
    </section>

    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>

    <script src="../js/toggle2.js"></script>
    <script src="../js/exportPdf.js"></script>
    <script src="../js/uploadFiles.js"></script>
</body>
</html>