<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GACA</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section id="tableHeader" style="display: flex; flex-direction: row; margin: auto; width: 50%;">
        <img src="../img/logo.jpg" width="15%" height="auto" style="border: 1px solid black;" alt="">
<section style="width: 100%;">
        <p class="headTP sSizeFont">Initial Safety Impact Assessment</p>
    <table style="width: inherit;">    
        <tr>
        <td class="cellStyle">Form NO:</td>
        <td><p id="formNoRes" class="tableInput"></p></td>
        <td class="cellStyle">Revision:</td>
        <td><p id="revisionRes" class="tableInput"></p></td>
        <td class="cellStyle">Issue Date:</td>
        <td><p id="issueDateRes" class="tableInput"></p></td>
        </tr>
    </table>
</section>
    </section>

    <section style="margin-left: 20%;">
    <p class="veryDarkBlue" style="font-weight: 700;">C.2 Notification to GACA</p>
    <section class="rowFlex" style="gap: 10px;">

        <section id="icons" class="imgSecStyle">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
            <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
            <img src="../icons/New folder/print-solid.svg" class="imgWidth">
            <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
            <img src="../icons/New folder/download-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth">
        </section>

    <table class="tableStyle tableWidth2">
        <tr class="headerTable whiteColor">
            <th class="tablePadd" style="width: 50%;">Proposed Changes</th>
            <th class="tablePadd">Yes/No</th>
            <th class="tablePadd">Justification</th>
        </tr>
        <tr>
            <td>Does the change intrduce additional locations for for providing the air navigation services?</td>
            <td>
                <input type="text" name="" id="" value="No" class="inputStyle" style="width: 50%;">
            </td>
            <td><textarea name="" id="" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>    
        <tr>  
            <td>Does the change affect any designed SANS personnal as specified in the operations specifications?</td>
            <td>
                <input type="text" name="" id="" value="No" class="inputStyle"  style="width: 50%;">
            </td>
            <td><textarea name="" id="" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>
        <tr>
            <td>Is the change assossiated with SANS operations specifications (requier update of the SANS operations)?</td>
            <td>
                <input type="text" name="" id="" value="No" class="inputStyle"  style="width: 50%;">
            </td>
            <td><textarea name="" id="" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>    
        <tr>  
            <td>Does the change affect any facility, procedure, system, work scope or staff that are used for provision orf air navigation?</td>
            <td>
                <input type="text" name="" id="" value="No" class="inputStyle"  style="width: 50%;">
            </td>
            <td><textarea name="" id="" cols="15" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
        </tr>  
    </table>
    </section>

    <section>
        <table class="tableStyle tableWidth tablePadd">
            <tr class="headerTable whiteColor" style="border-collapse: collapse;">
               <th class="tablePadd"></th>
               <th class="tablePadd"></th>
            </tr>
            <tr>
                <td style="width: 70%;">Based on the above, does the change require notification to GACA prior implementation?</td>
                <td class="tablePadd" id="gaca">No</td>
            </tr>
        </table>
    </section>
</section>
    <section id="btns" style="float: right; margin-top: 7%;">
        <input type="button" value="Main" class="cancleBtn" onclick="window.location.href = 'main.html'">
    <input type="button" value="Back" class="cancleBtn" onclick="window.location.href = 'lowForm.html'">
    <input type="button" value="Send" id="nextBtn" class="addBtn" onclick="alertt()">
    </section>

    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>

    <script src="../js/alert.js"></script>
</body>
</html>