<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hazard analysis</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script> 

</head>
<body>
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    
    
    <section id="tableHeader" style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 2%;">
        <img src="../img/logo.jpg" width="6%" height="auto" style="border: 1px solid black; margin-top: 12px;" alt="">
<section>
        <p class="headTP sSizeFont">Safety Risk Assessment Report</p>
    <table class="tableStyle">    
        <tr>
            <td class="cellStyle" style="width: 13%;">Form NO:</td>
            <td style="padding: 0;"><input type="text" name="formNo" id="formNo" class="tableInput" style="font-size: 14px; width:max-content;" value="SANS-SQE-PMM02-FO023"></td>
            <td class="cellStyle" style="width: 13%;">Revision:</td>
            <td style="padding: 0;"><input type="text" name="revision" id="revision" style="width: 14%; font-size: 14px;" class="tableInput" value="C"></td>
            <td class="cellStyle">Issue Date:</td>
            <td style="padding: 0;"><input type="date" name="issueDate" id="issueDate" class="tableInput" style="font-size: 14px; width:max-content;"></td>
            </tr>
    </table>
</section>
    </section>

    <section style="margin: auto; width: 80%;">
    <h1 class="ablueColor" style="text-align: center; font-size: 22px;">Hazard analysis</h1>
    <section class="rowFlex" style="gap: 8%;">
    <section id="icons" class="imgSecStyle" style="margin-left: -10%;">
        <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
        <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
        <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
        <img src="../icons/New folder/print-solid.svg" class="imgWidth">
        <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
        <img src="../icons/New folder/download-solid.svg" class="imgWidth">
        <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
        <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
        <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth" id="pdf" style="cursor: pointer;">
    </section>
<section class="colFlex">
    <h3 class="ablueColor">Hazard Identification</h3>

    <table style="width: 100%; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>Hazard Id</th>
            <th>Hazard</th>
            <th>Hazard sequence</th>
            <th>Hazard sequence Severity</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
</section>
</section>
    <select name="add-hazard" id="addHazard" style="width: 100%; padding: 1%; background-color: #0070C0; color: white; font-weight: 600;">
        <option value="Add_Hazard">Add Hazard</option>
        <option value="Hazard_One">Hazard One</option>
        <option value="Hazard_Two">Hazard Two</option>
        <option value="Hazard_Three">Hazard Three</option>
        <option value="Hazard_Four">Hazard Four</option>
        <option value="Hazard_Five">Hazard Five</option>
    </select>
    <h3 id="hazardId" style="text-align: center; color: #0070C0; font-size: 20px;"></h3>
    <h3 class="ablueColor">Preventive controls assessment</h3>
    <table style="width: 100%; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>Hazard Id</th>
            <th>Thread erea</th>
            <th>previuse control</th>
            <th>casual factors</th>
            <th>Mitigation</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
    <h3 class="ablueColor">Recovery controls assessment</h3>
    <table style="width: 100%; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>Hazard Id</th>
            <th>Thread erea</th>
            <th>recovery control</th>
            <th>casual factors</th>
            <th>Mitigation</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
    <h3 class="ablueColor">Safety Risk Decleration</h3>
    <table style="width: inherit; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>Hazard Id</th>
            <th>Hazard</th>
            <th>Hazard consequances</th>
            <th>Hazard consequances severity (initial)</th>
            <th>Hazard consequances Likelihood (initial)</th>
            <th>safety risk classfication (initial)</th>
            <th>Hazard consequances severity (post mitigation)</th>
            <th>Hazard consequances Likelihood (post mitigation)</th>
            <th>safety risk classfication (post mitigation)</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
    <h3 class="ablueColor">Safety Requirment</h3>
    <table style="width: 100%; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>SR reference</th>
            <th>Safety Requirment</th>
            <th>source (related hazard)</th>
            <th>Safety Requirment Owner</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="34" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="34" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
    <h3 class="ablueColor">Safety Risk Decleration</h3>
    <table style="width: inherit; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>Hazard Id</th>
            <th>Hazard</th>
            <th>Hazard consequances</th>
            <th>Hazard consequances severity (initial)</th>
            <th>Hazard consequances Likelihood (initial)</th>
            <th>safety risk classfication (initial)</th>
            <th>Hazard consequances severity (post mitigation)</th>
            <th>Hazard consequances Likelihood (post mitigation)</th>
            <th>safety risk classfication (post mitigation)</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
    <h3 class="ablueColor">Safety Requirment</h3>
    <table style="width: 100%; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>SR reference</th>
            <th>Safety Requirment</th>
            <th>source (related hazard)</th>
            <th>Safety Requirment Owner</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="30" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="34" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="34" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
    <h3 class="ablueColor">Safety Risk Decleration</h3>
    <table style="width: inherit; margin-bottom: 2%;">
        <tr class="headerTable whiteColor">
            <th>Hazard Id</th>
            <th>Hazard</th>
            <th>Hazard consequances</th>
            <th>Hazard consequances severity (initial)</th>
            <th>Hazard consequances Likelihood (initial)</th>
            <th>safety risk classfication (initial)</th>
            <th>Hazard consequances severity (post mitigation)</th>
            <th>Hazard consequances Likelihood (post mitigation)</th>
            <th>safety risk classfication (post mitigation)</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="20" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
       <table>
        <tr class="headerTable whiteColor">
            <th>Hazard Id</th>
            <th>Hazard</th>
            <th>Hazard consequances</th>
            <th>initial assessment severity</th>
            <th>initial assessment Likelihood</th>
            <th>initial assessment risk</th>
            <th>preventive control</th>
            <th>preventive mitigation</th>
            <th>recovery control</th>
            <th>recovery mitigation</th>
            <th>post mitigation assessment severity</th>
            <th>post mitigation assessment Likelihood</th>
            <th>post mitigation assessment risk</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="9" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="5" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
    </table>
</section>

    <section id="btns" style="float: right; margin-top: 7%;">
        <button class="cancleBtn" onclick="window.location.href='changeCreteria.html'">Back</button>
        <button class="addBtn" onclick="window.location.href='postReview.html'">Next</button>
    </section>

    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>

    <script src="../js/hazard.js"></script>
    <script src="../js/exportPdf.js"></script>
</body>
</html>