<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial Safety Impact Assessment</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/toggle.css">
</head>
<body style="font-size: 20px; font-weight: 600;">
    <section style="margin-left: 20%;">

        <form>
            <section id="tableHeader" style="display: flex; flex-direction: row; text-align: center;">
                <img src="../img/logo.jpg" width="9%" height="auto" style="border: 1px solid black;" alt="">
        <section>
                <p class="headTP sSizeFont">Initial Safety Impact Assessment</p>
            <table class="tableStyle">    
                <tr>
                <td class="cellStyle">Form NO:</td>
                <td><input type="text" name="formNo" id="formNo" class="tableInput"></td>
                <td class="cellStyle">Revision:</td>
                <td><input type="text" name="revision" id="revision" class="tableInput"></td>
                <td class="cellStyle">Issue Date:</td>
                <td><input type="date" name="issueDate" id="issueDate" class="tableInput"></td>
                </tr>
            </table>
        </section>
            </section>
        
            <section class="rowFlex" style="gap: 10px;">

                <section id="icons" class="imgSecStyle">
                    <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/print-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/download-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
                    <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth">
                </section>

            <table class="tableStyle tableWidth2">
                <tr class="headerTable whiteColor">
                    <th class="tablePadd" style="width: 50%;">Proposed Changes</th>
                    <th class="tablePadd">Yes/No</th>
                    <th class="tablePadd">Justification</th>
                </tr>
                <tr>
                    <td>Does the change intrduce a new service?</td>
                    <td>
                          <label class="switch">
                            <input class="switch-input" id="switch-input1" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>    
                <tr>  
                    <td>Does the change modify what the service provides to a customer (e.g airspace users for ATM services or ATCO for tichnical service)</td>
                    <td>
                          <label class="switch">
                            <input class="switch-input" id="switch-input2" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>
                <tr>
                    <td>Does it change how the service is provided or impact an existing safety control?</td>
                    <td>
                        <label class="switch">
                            <input class="switch-input" id="switch-input3" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>    
                <tr>  
                    <td>Does the change intrduce potintial new failure modes or causal factors?</td>
                    <td>
                        <label class="switch">
                            <input class="switch-input" id="switch-input4" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>
                <tr>
                    <td>Does it change a system element (people, producer or equipment) that is recognised as a mitigation?</td>
                    <td>
                        <label class="switch">
                            <input class="switch-input" id="switch-input5" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>    
                <tr>  
                    <td>Does the change impact/intrduce relevent cyber security threads or internal and external vulnaribility?</td>
                    <td>
                        <label class="switch">
                            <input class="switch-input" id="switch-input6" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>
                <tr>
                    <td>Does the change impact any work-related fatigue factors?</td>
                    <td>
                        <label class="switch">
                            <input class="switch-input" id="switch-input7" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>    
                <tr>  
                    <td>Does the change include operational or technical activities which might have impact on the live services? </td>
                    <td>
                        <label class="switch">
                            <input class="switch-input" id="switch-input8" type="checkbox" />
                            <span class="switch-label" data-on="Yes" data-off="No"></span> 
                            <span class="switch-handle"></span> 
                           </label>
                    </td>
                    <td><textarea name="" id="" cols="20" rows="5" style="border: none;">Its a routine activity (QUARTERLY PMI's)</textarea></td>
                </tr>    
               
            </table>
            </section>

            <section>
                <table class="tableStyle tableWidth tablePadd">
                    <tr class="headerTable whiteColor" style="border-collapse: collapse;">
                       <th class="tablePadd"></th>
                       <th class="tablePadd"></th>
                    </tr>
                    <tr>
                        <td style="width: 70%;">Based on the above, is there a safety impact as a result of this change?</td>
                        <td class="tablePadd" id="assessment9"></td>
                    </tr>
                </table>
            </section>

            <section id="btns" style="float: right; margin-top: 7%; margin-right: 30%;">
            <input type="button" value="No" class="cancleBtn" onclick="window.location.href = 'main.html'">
            <input type="button" value="Yes" id="nextBtn" class="addBtn" onclick="window.location.href = 'changeCreteria.html'">
            </section>

        </form>
    </section>

    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>

    <script src="../js/toggle.js"></script>
</body>
</html>