<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hazard Assessment</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section id="tableHeader" style="display: flex; flex-direction: row; margin: auto; width: 50%;">
        <img src="../img/logo.jpg" width="13%" height="10%" style="border: 1px solid black; margin-top: 12px;" alt="">
        <section>
                <p class="headTP sSizeFont">Initial Safety Impact Assessment</p>
            <table class="tableStyle">    
                <tr>
                <td class="cellStyle">Form NO:</td>
                <td><input type="text" name="formNo" id="formNo" class="tableInput"></td>
                <td class="cellStyle">Revision:</td>
                <td><input type="text" name="revision" id="revision" class="tableInput"></td>
                <td class="cellStyle">Issue Date:</td>
                <td><input type="date" name="issueDate" id="issueDate" class="tableInput"></td>
                </tr>
            </table>
        </section>
    </section>

    <p class="veryDarkBlue" style="font-weight: 700; margin-left: 10%;">C.1 Hazard Assessment</p>
    <section class="rowFlex" style="gap: 10px;">

        <section id="icons" class="imgSecStyle">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
            <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
            <img src="../icons/New folder/print-solid.svg" class="imgWidth">
            <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
            <img src="../icons/New folder/download-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
            <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth">
        </section>
<!-- <section > -->
        <table style="width: 80%; margin: auto;">
            <tr class="headerTable whiteColor">
                <th>Hazard ID</th>
                <th>Hazard Description</th>
                <th>Consequences</th>
                <th>Severity (Initial)</th>
                <th>Likelihood (Initial)</th>
                <th>Risk class (Initial)</th>
                <th>Mitigation</th>
                <th>Severity (Post Mitigation)</th>
                <th>Likelihood (Post Mitigation)</th>
                <th>Risk class (Post Mitigation)</th>
            </tr>
            <tr>
                <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
               </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
            </tr>
            <tr>
                <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
               </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
                <td style="padding: 0;">
                    <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
                </td>
            </tr>
        </table>
        </section>
    <p class="veryDarkBlue" style="font-weight: 700; margin-left: 10%;">C.2 Safety Requirment</p>
    <table style="width: 80%; margin: auto;">
        <tr class="headerTable whiteColor">
            <th>SR id</th>
            <th>Safety Requirment</th>
            <th>Source (Related Hazard)</th>
            <th>Safety Requirment Owner</th>
            <th>Status</th>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
            <td style="padding: 0;">
                <textarea name="" id="" cols="10" rows="5" style="border: none;"></textarea>
            </td>
        </tr>

    </table>

    <section id="btns" style="float: right; margin-top: 7%;">
        <button class="addBtn" onclick="window.location.href='GACA.html'">Next</button>
    </section>

    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>
</body>
</html>