<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/bgSignup.css">
    <style>
        .animated-span {
            position: relative;
            display: inline-block;
            cursor: pointer;
            color: black; /* Adjust the text color */
            transition: transform 0.3s ease-out;
        }

        .animated-span:hover {
            transform: scale(1.1); /* Adjust the scaling factor as needed */
        }
    </style>
</head>
<body>
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    
    <div class="bg-photo"></div>
    <section class="colFlex center padd">
        <button id="ch-req" class="servicesBtn lSize whiteColor" style="margin-bottom: 2%;" onclick="window.location.href = 'changeReq.html'">Change Request</button>
        <button id="w-sh" class="servicesBtn lSize whiteColor" style="margin-bottom: 2%;" onclick="window.location.href ='changeSummery.html'">Workshop</button>
        <button id="re-ch" class="servicesBtn lSize whiteColor" style="margin-bottom: 2%;" onclick="window.location.href = 'receivedChanges.html'">Received Changes</button>
        <button id="re-ch" class="servicesBtn lSize whiteColor" style="margin-bottom: 2%;" onclick="window.location.href = 'receivedDocument.html'">SQE Review</button>
    </section>
</body>
</html>
