<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Review</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section id="tableHeader" style="display: flex; flex-direction: row; margin: auto; width: 50%;">
        <img src="../img/logo.jpg" width="14%" height="10%" style="border: 1px solid black;" alt="">
<section style="width: 100%; "> 
    <table>
        <tr >
            <th style="width: 100rem; padding: 1%;">Post Operational Review Form</th>
        </tr>
    </table>
    <table style="width: inherit; border-collapse: collapse;">    
        <tr>
        <td class="cellStyle">Form NO:</td>
        <td><p id="formNoRes" class="tableInput"></p></td>
        <td class="cellStyle">Revision:</td>
        <td><p id="revisionRes" class="tableInput"></p></td>
        <td class="cellStyle">Issue Date:</td>
        <td><p id="issueDateRes" class="tableInput"></p></td>
        </tr>
    </table>
</section>
    </section>
    <section class="rowFlex" style="margin-top: 2%;">
    <section id="icons" class="imgSecStyle" >
        <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
        <img src="../icons/New folder/magnifying-glass-plus-solid.svg" class="imgWidth">
        <img src="../icons/New folder/pen-to-square-solid.svg" class="imgWidth">
        <img src="../icons/New folder/print-solid.svg" class="imgWidth">
        <img src="../icons/New folder/signature-solid.svg" class="imgWidth">
        <img src="../icons/New folder/download-solid.svg" class="imgWidth">
        <img src="../icons/New folder/file-excel-solid.svg" class="imgWidth">
        <img src="../icons/New folder/file-export-solid.svg" class="imgWidth">
        <img src="../icons/New folder/file-pdf-solid.svg" class="imgWidth">
    </section>
    <table style="width: 60%; margin: auto;">
        <tr>
            <th class="headerTable whiteColor">Reviews (operational & Technical)</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">ISIA/SRA References</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">ISIA/SRA Title</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">Date</th>
            <td><input type="date" name="" id="" class="tableInput"></td>
        </tr>
        <tr class="headerTable whiteColor">
            <th class="tablePadd">Sefety assessment details</th>
            <th class="tablePadd"></th>
        </tr>
        <tr>
            <th class="headerTable whiteColor">Hazard H01</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">consequnces</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">severity/likelihood/risk class</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">Hazard HXX</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">consequnces</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
        <tr>
            <th class="headerTable whiteColor">severity/likelihood/risk class</th>
            <td><input type="text" name="" id="" class="tableInput"></td>
        </tr>
    </table>
    </section>
    <section style="margin-top: 2%;">
    <table style="width: 60%; margin: auto;">
        <tr class="headerTable whiteColor">
            <th class="tablePadd">Effectiveness od controls and mitigations adopted for the change:</th>
        </tr>
        <tr>
        <td>
            <textarea name="" id="" cols="80" rows="5" style="border: none;"></textarea>
        </td>
        </tr>
        </table>
        <table style="width: 60%; margin: auto;">
        <tr class="headerTable whiteColor">
            <th class="tablePadd">Post operational review finding:</th>
        </tr>
        <tr>
        <td>
            <textarea name="" id="" cols="80" rows="5" style="border: none;"></textarea>
        </td>
        </tr>
        </table>
        <table style="width: 60%; margin: auto;">
        <tr class="headerTable whiteColor">
            <th class="tablePadd">Safety Requirment</th>
        </tr>
        <tr>
        <td>
            <textarea name="" id="" cols="80" rows="5" style="border: none;"></textarea>
        </td>
        </tr>
    </table>
    <table style="width: 60%; margin: auto;">
        <tr class="headerTable whiteColor">
            <th class="tablePadd">Correective activity</th>
            <td class="tablePadd"></td>
        </tr>
        <tr>
            <td>
                Reviews (operational & Technical)
            </td>
        <td>
            <textarea name="" id="" cols="50" rows="3" style="border: none;"></textarea>
        </td>
        </tr>
        <tr>
            <td>
                signature
            </td>
        <td>
            <input type="file" accept="image/*" id="fileUpload">
        </td>
        </tr>
    </table>
</section>
    <section id="btns" style="float: right; margin-top: 7%;">
        <input type="button" value="Back" class="cancleBtn" onclick="window.location.href = 'hazardAnaless.html'">
        <input type="button" value="Next" id="nextBtn" class="addBtn" onclick="window.location.href = 'signForm.html'">
        </section>

        <footer>
            <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
        </footer>

        <script src="../js/uploadfile.js"></script>
</body>
</html>