<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>received changes</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body style="width: 90%; margin: auto;">
    <section class="header-bar">
        <span onclick="window.location.href = 'main.html'" style="cursor: pointer;">Home</span>
        <span style="cursor: pointer;">File</span>
        <span style="cursor: pointer;">Account</span>
        <span><img src="../icons/New folder/bell-solid.svg" style="cursor: pointer;" class="imgWidth2" alt=""></span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Sign up</span>
        <span style="cursor: pointer;" onclick="window.location.href = 'login.html'">Log out</span>
    </section>
    
    <p><b>Received Changes > </b>Create Meeting</p>
    
    <h1 class="darkerBlueColor" style="text-align: center;">Received Changes</h1>
    <section id="header">
        <span>Name</span>
        <span>Date</span>
        <span>Message Title</span>
    </section>
    <section class="info">
        <svg class="imgWidth2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path style="fill: #12D680;" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
        </svg>
        <span>Khaled Ahmed</span>
        <span>22/9/2023</span>
        <span>Data Analysis</span>
        <section style="margin-left: auto;">
        <button class="lighBgBtn" onclick="window.location.href = 'changeReq2.html'">More Details</button>
        <button class="addBtn" onclick="window.location.href = 'createMeeting.html'">Conduct Assessment</button>
    </section>
    
        <svg class="imgWidth2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path style="fill: #707070;" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
        </svg>
        <span>Sara Omar</span>
        <span>22/9/2023</span>
        <span>Data Analysis</span>
        <section style="margin-left: auto;">
        <button class="lighBgBtn" onclick="window.location.href = 'changeReq2.html'">More Details</button>
        <button class="addBtn" onclick="window.location.href = 'createMeeting.html'">Conduct Assessment</button>
        </section>
    </section>

    <button class="cancleBtn" style="margin: 20% 0 20% 30%; float: right;" onclick="window.location.href = 'main.html'">Back</button>

    <footer>
        <img src="../img/footer.png" width="100%" style="margin: 10% 0 0 0; height: 50%;">
    </footer>
</body>
</html>