<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/bgSignup.css">
</head>
<body>
    <section class="bg-photo colFlex" style="margin-top: 5%; margin-left: 35%;">
        <h1 class="lightblueColor" style="margin-left: 15%;">Send Files:</h1>
        <form class="formStyle">
            <input type="email" id="email" placeholder="Email" class="inputStyle inputWidth2" required>   
            <input type="text" name="pass" id="pass" maxlength="8" placeholder="Email subject" class="inputStyle inputWidth2" required>
           <textarea name="body" id="" style="width: 20rem ;"  rows="5"></textarea>

            <input type="file" id="fileUploadM"  style="display: none;" multiple>
            <button id="uploadButtonM" style="width: 21rem ;" class="cancleBtn">Upload Files</button>

            <input type="button" value="Send" class="signInBtn sBoldSize whiteColor" style="width: 21rem ;">
        </form> 
    </section>

<script src="../js/uploadfile.js"></script>
</body>
</html>