<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/bgSignup.css">
</head>
<body>
    <section class="bg-photo colFlex" style="margin-top: 5%; margin-left: 35%;">
        <h1 class="lightblueColor" style="margin-left: 7%;">Create an account</h1>
        <form action="post" class="formStyle">
            <input type="number" name="id_number" id="id_number" placeholder="ID number" maxlength="8" class="inputStyle inputWidth2" required>
            <input type="email" id="email" placeholder="Email" class="inputStyle inputWidth2" required>
            <input type="tel" name="phone" id="phone" maxlength="10" placeholder="Phone number" pattern="{0-9}[10]" class="inputStyle inputWidth2" required>
            <input type="password" name="pass" id="pass" maxlength="8" placeholder="Password" class="inputStyle inputWidth2" required>
            <input type="password" name="pass2" id="pass2" maxlength="8" placeholder="Confirm Password" class="inputStyle inputWidth2" required>
            
            <input type="file" id="pPhUpload" style="display: none;" />
            <button id="uploadButtonPh" style="width: 21rem; background-color: white; color: #005EA4; border: 1px solid black; padding: 2%; cursor: pointer;">Upload Personal Photo</button>
            <input type="file" id="signUpload" style="display: none;" />
            <button id="uploadButtonS" style="width: 21rem; background-color: white; color: #005EA4; border: 1px solid black; padding: 2%; cursor: pointer;">Upload Signature</button>
            
            <input type="button" value="Sign Up" class="signInBtn sBoldSize whiteColor" style="width: 21rem ;" onclick="window.location.href = 'login.html'">
        </form> 
    </section>

<script src="../js/uploadPhoto.js"></script>

<script>
    document.getElementById('email').addEventListener('change',()=>{
            localStorage['email'] = document.getElementById('email').value
    })
    document.getElementById('email').innerHTML = localStorage['email']
</script>

</body>
</html>